body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #007acc;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.loading {
  font-style: italic;
  color: #666;
}

.instruction {
  width: 100%;
  max-width: 700px;
  background: #fff;
  border-radius: 12px;
  padding: 0px 10px 0px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  white-space: pre-wrap;
  margin: 0px;
}

.instruction pre {
    padding:  0px;
    margin: 0px;
}

.chrome-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}

.chrome-link:hover {
  color: #007acc;
}

.chrome-link:visited {
  color: black;
  text-decoration: underline;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px 24px;
  max-width: 500px;
  width: 90%;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  font-family: 'Segoe UI', sans-serif;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background: none;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.modal-close:hover {
  color: #333;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  white-space: pre-wrap;
}

.search-icon:hover {
  fill: #007acc;
}
